<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h3>Oops!!!! Not Found :)</h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>