<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="about">
        An Engineering UG from IIT Palakkad pursuing B.Tech in CSE. Ig thats enough for you
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>