<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="contact">
        <a href="https:wa.me/+917310907188">Whatsapp</a>
        <a href="https://www.instagram.com/priyanshu_4650/">Insta</a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>